body {
    background-color:rgb(37, 37, 37);
}

#content {
    display: block;
    text-align: center;
    width: 360px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#display {
    margin-top: 68px;
    padding: 9px 0px;
    font-size: 36px;
    color: white;
}

#numpad {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(4, 90px);
}

#containerHorizontal {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(1, 90px);
}

#containerVertical {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 90px;
}

#AC {
    color: #ff8a00;
}

#backspace {
    color: #ff8a00;
}

#percent {
    color: #ff8a00;
}

#÷ {
    color: #ff8a00;
}

#× {
    flex: 1;
}

#− {
    flex: 1;
}

[id= '+'] {
    flex: 1;
}

[id= '='] {
    flex: 1;
}