body {
    background-color:rgb(25, 25, 25);
}

#content {
    display: block;
    text-align: center;
    width: 360px;
    margin: auto;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 36px 3px;
    border: 9px solid;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#display {
    padding: 29px 20px 9px 0px;
    text-align: right;
    font-size: 36px;
    color: white;
    background-color: black;
    border-bottom: 0.25px solid rgb(163, 163, 163);
}

#numpad {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(4, 90px);
}

#containerHorizontal {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(1, 90px);
}

#containerVertical {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 90px;
}

#AC,
#backspace,
#percent {
    font-size: 20px;
    color: #df6400;
    background-color: black;
    border: 2px solid black;
}

#÷ {
    font-size: 30px;
    color: #df6400;
    background-color: black;
    border: 2px solid black;
}

[id= '×'],
[id= '−'],
[id= '+'],
[id= '='] {
    font-size: 30px;
    color: #df6400;
    background-color: black;
    border: 2px solid black;
    flex: 1;
}

[id= '1'],
[id= '2'],
[id= '3'],
[id= '4'],
[id= '5'],
[id= '6'],
[id= '7'],
[id= '8'],
[id= '9'],
#empty,
[id= '0'],
#decimal {
    font-size: 30px;
    color: white;
    background-color: black;
    border: 2px solid black;
}

#AC:hover,
#backspace:hover,
#percent:hover,
#÷:hover,
[id= '1']:hover,
[id= '2']:hover,
[id= '3']:hover,
[id= '4']:hover,
[id= '5']:hover,
[id= '6']:hover,
[id= '7']:hover,
[id= '8']:hover,
[id= '9']:hover,
#empty:hover,
[id= '0']:hover,
#decimal:hover,
[id= '×']:hover,
[id= '−']:hover,
[id= '+']:hover,
[id= '=']:hover {
    opacity: 0.5;
}

#AC:focus,
#backspace:focus,
#percent:focus,
#÷:focus,
[id= '1']:focus,
[id= '2']:focus,
[id= '3']:focus,
[id= '4']:focus,
[id= '5']:focus,
[id= '6']:focus,
[id= '7']:focus,
[id= '8']:focus,
[id= '9']:focus,
#empty:focus,
[id= '0']:focus,
#decimal:focus,
[id= '×']:focus,
[id= '−']:focus,
[id= '+']:focus,
[id= '=']:focus {
    outline: none;
}